.header {
    background-color: var(--color-dark);
    color: var(--color-gold-light);
    padding: 20px; 
    text-align: center;
    header header h1 {
        font-size: 24px; 
    }
    header header p {
        font-size: 14px; 
    }
  }
  

  