.navigation ul {
    list-style-type: none; 
    text-align: center;
  }
  
  .navigation li {
    display: inline; 
    margin-right: 20px; 
  }
  
  .navigation a {
    text-decoration: none; 
    color: var(--color-gold-light);
    font-weight: bold; 
  }
  .navigation a:hover {
    text-decoration: underline; 
  }